%h1 Recipes

= link_to "Ingredients list", ingredients_path

%h2 Seach by ingredients
=form_tag(recipes_path, method: :get) do
  =text_field_tag(:search, params[:search])
  =submit_tag("Search")
- if @recipes.present?
  - @recipes.each do |recipe|
    %ul
      %li=link_to recipe.name, recipe_path(recipe)
- else
  %h3 No "#{params[:search]}" ingredient or recipe with this ingredient found.

= will_paginate @recipes
  